-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "ChatMode" AS ENUM ('AUTO', 'HUMAN', 'ASSIST', 'WAITING_OPERATOR');

-- CreateEnum
CREATE TYPE "BookingDraftStatus" AS ENUM ('COLLECTING', 'READY_FOR_OPERATOR', 'PAYMENT_PENDING', 'WAITING_RECEIPT', 'PAID', 'CONFIRMED', 'CANCELLED', 'EXPIRED');

-- CreateEnum
CREATE TYPE "PaymentInvoiceStatus" AS ENUM ('PENDING', 'WAITING_CONFIRMATION', 'PAID', 'CANCELLED', 'FAILED', 'EXPIRED');

-- CreateEnum
CREATE TYPE "MessageDirection" AS ENUM ('IN', 'OUT');

-- CreateEnum
CREATE TYPE "MessageSource" AS ENUM ('CLIENT', 'BOT', 'OPERATOR', 'SYSTEM');

-- CreateEnum
CREATE TYPE "MessageDeliveryStatus" AS ENUM ('PENDING', 'SENT', 'DELIVERED', 'FAILED', 'SKIPPED');

-- CreateTable
CREATE TABLE "ChatSession" (
    "id" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "normalizedPhone" TEXT NOT NULL,
    "whatsappChatId" TEXT,
    "externalChatId" TEXT,
    "currentMode" "ChatMode" NOT NULL DEFAULT 'AUTO',
    "currentStep" TEXT,
    "state" JSONB,
    "assignedOperatorId" TEXT,
    "bitrixLineId" TEXT,
    "bitrixChatId" TEXT,
    "bitrixDialogId" TEXT,
    "bitrixConnectorId" TEXT,
    "botEnabled" BOOLEAN NOT NULL DEFAULT true,
    "allowBotReplies" BOOLEAN NOT NULL DEFAULT true,
    "handoffRequestedAt" TIMESTAMP(3),
    "humanTakenAt" TIMESTAMP(3),
    "handoffReason" TEXT,
    "lastIncomingAt" TIMESTAMP(3),
    "lastOutgoingAt" TIMESTAMP(3),
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ChatSession_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BookingDraft" (
    "id" TEXT NOT NULL,
    "chatSessionId" TEXT NOT NULL,
    "patientId" INTEGER,
    "externalPatientRef" TEXT,
    "bitrixContactId" INTEGER,
    "requestDealId" INTEGER,
    "visitDealId" INTEGER,
    "selectedService" TEXT,
    "selectedCleaningType" TEXT,
    "selectedDoctorId" INTEGER,
    "selectedDate" TIMESTAMP(3),
    "selectedStart" TIMESTAMP(3),
    "selectedEnd" TIMESTAMP(3),
    "price" INTEGER,
    "status" "BookingDraftStatus" NOT NULL DEFAULT 'COLLECTING',
    "dentistVisitId" INTEGER,
    "paymentProvider" TEXT,
    "paymentStatus" TEXT,
    "paymentConfirmedAt" TIMESTAMP(3),
    "paymentMetadata" JSONB,
    "expiresAt" TIMESTAMP(3),
    "rawCollectedData" JSONB,
    "finalizationError" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "BookingDraft_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PaymentInvoice" (
    "id" TEXT NOT NULL,
    "bookingDraftId" TEXT NOT NULL,
    "provider" TEXT NOT NULL,
    "invoiceUrl" TEXT,
    "externalInvoiceId" TEXT,
    "amount" INTEGER,
    "status" "PaymentInvoiceStatus" NOT NULL DEFAULT 'PENDING',
    "paidAt" TIMESTAMP(3),
    "receiptMessageId" TEXT,
    "receiptFileReference" TEXT,
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PaymentInvoice_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ChatMessageLog" (
    "id" TEXT NOT NULL,
    "chatSessionId" TEXT NOT NULL,
    "direction" "MessageDirection" NOT NULL,
    "source" "MessageSource" NOT NULL,
    "whatsappMessageId" TEXT,
    "bitrixMessageId" TEXT,
    "text" TEXT,
    "payload" JSONB,
    "deliveryStatus" "MessageDeliveryStatus" NOT NULL DEFAULT 'PENDING',
    "sentAt" TIMESTAMP(3),
    "deliveredAt" TIMESTAMP(3),
    "failedAt" TIMESTAMP(3),
    "errorMessage" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ChatMessageLog_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "ChatSession_normalizedPhone_key" ON "ChatSession"("normalizedPhone");

-- CreateIndex
CREATE INDEX "ChatSession_phone_idx" ON "ChatSession"("phone");

-- CreateIndex
CREATE INDEX "ChatSession_whatsappChatId_idx" ON "ChatSession"("whatsappChatId");

-- CreateIndex
CREATE INDEX "ChatSession_currentMode_idx" ON "ChatSession"("currentMode");

-- CreateIndex
CREATE INDEX "BookingDraft_chatSessionId_status_idx" ON "BookingDraft"("chatSessionId", "status");

-- CreateIndex
CREATE INDEX "BookingDraft_requestDealId_idx" ON "BookingDraft"("requestDealId");

-- CreateIndex
CREATE INDEX "BookingDraft_visitDealId_idx" ON "BookingDraft"("visitDealId");

-- CreateIndex
CREATE INDEX "PaymentInvoice_bookingDraftId_status_idx" ON "PaymentInvoice"("bookingDraftId", "status");

-- CreateIndex
CREATE INDEX "PaymentInvoice_externalInvoiceId_idx" ON "PaymentInvoice"("externalInvoiceId");

-- CreateIndex
CREATE INDEX "ChatMessageLog_chatSessionId_createdAt_idx" ON "ChatMessageLog"("chatSessionId", "createdAt");

-- CreateIndex
CREATE INDEX "ChatMessageLog_deliveryStatus_direction_idx" ON "ChatMessageLog"("deliveryStatus", "direction");

-- CreateIndex
CREATE INDEX "ChatMessageLog_whatsappMessageId_idx" ON "ChatMessageLog"("whatsappMessageId");

-- CreateIndex
CREATE INDEX "ChatMessageLog_bitrixMessageId_idx" ON "ChatMessageLog"("bitrixMessageId");

-- AddForeignKey
ALTER TABLE "BookingDraft" ADD CONSTRAINT "BookingDraft_chatSessionId_fkey" FOREIGN KEY ("chatSessionId") REFERENCES "ChatSession"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PaymentInvoice" ADD CONSTRAINT "PaymentInvoice_bookingDraftId_fkey" FOREIGN KEY ("bookingDraftId") REFERENCES "BookingDraft"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ChatMessageLog" ADD CONSTRAINT "ChatMessageLog_chatSessionId_fkey" FOREIGN KEY ("chatSessionId") REFERENCES "ChatSession"("id") ON DELETE CASCADE ON UPDATE CASCADE;

